<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>React-PWA: Server Error</title>
        <meta property="og:title" content="React-PWA: Server Error" />
        <meta property="og:image" content="/img/logo.jpg" />
        <link rel="image_src" href="/img/logo.jpg" />
        <meta name="theme-color" content="#fa267d" />
        <link rel="manifest" href="/manifest.json" />
        <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link rel="icon" sizes="144x144" href="/img/144.png" />
        <link rel="canonical" value="/" />
        <link rel="stylesheet" href="/inline.css">
        <link rel="stylesheet" href="/style.css">
    </head>

    <body>
        <section class="content server-error">
            <h1>Server Error</h1>
            <p>The server has thrown an exception</p>
      </section>    
    </body>
</html>
